<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.tcf.debug.LaunchConfigurationType">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/videodemo"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.tcf.debug.AttachChildren" value="true"/>
<booleanAttribute key="org.eclipse.tcf.debug.DisconnectOnCtxExit" value="true"/>
<stringAttribute key="org.eclipse.tcf.debug.LocalProgramFile" value="Debug\videodemo.elf"/>
<stringAttribute key="org.eclipse.tcf.debug.ProjectName" value="videodemo"/>
<booleanAttribute key="org.eclipse.tcf.debug.RunLocalAgent" value="false"/>
<booleanAttribute key="org.eclipse.tcf.debug.RunLocalServer" value="false"/>
<booleanAttribute key="org.eclipse.tcf.debug.StopAtEntry" value="true"/>
<booleanAttribute key="org.eclipse.tcf.debug.StopAtMain" value="true"/>
<booleanAttribute key="org.eclipse.tcf.debug.UseLocalAgent" value="true"/>
<booleanAttribute key="org.eclipse.tcf.debug.UseTerminal" value="true"/>
</launchConfiguration>
